.header{
    color : white;
    font-size : 5vw;
    width : 100%;
    background-color: black;
    box-shadow: 0 1px 9px black;
    padding : 10px;
    text-align: center;
    font-weight : 100;
    z-index: 100;
    position : fixed;
    letter-spacing: 2px;
    word-spacing: 10px;
}

@media (min-width : 1000px){
    .header{
        font-size : 3vw;
    }
}